*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.visually-hidden {
    display: none;}

/* HEADER */
header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em;
    padding: 0;
}

header nav ul li {
    margin: 2em;
}

header nav ul li a {
    text-decoration: none;
    font-family: 'Alexandria';
    color: #2B2122;
}

.home nav ul li:nth-of-type(1) a, .aboutme nav ul li:nth-of-type(2) a, .projects nav ul li:nth-of-type(3) a {
    color: #A5B98D;
    text-decoration: underline;
}

hr{ 
    width: 110vh;
    height: 0.1rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    color: #2B2122;
}

/* HEADER */
/* HOME SECTION 1 */
.home main > article:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
    margin-top: 1.5em;
    /* ER OM HEEN */
}

.home main > article:first-of-type img:first-of-type{
    width:  150em;
    height: 100%;
    margin: 2.5em;
}

.home main > article:first-of-type section article {
    display: flex;
    flex-direction: row;
}

.home section:first-of-type article:first-of-type h2 {
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0.5em;
    font-size: 2.5rem;
    font-family: 'alexandria';
    font-weight: normal;
}

.home section:first-of-type article:first-of-type p {
    margin-top: 6em;
    margin-left: 2em;
    font-size: 0.7rem;
}

.home article:first-of-type section:first-of-type { 
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.home main > article:first-of-type section:first-of-type > p {
    margin: 1em;
    margin-right: 5em;
    text-align: left;
}

.home article:first-of-type section img:first-of-type {
    width: 40em;
    height: 20%;
    margin-left: 0;
}

/* HOME SECTION 1 */
/* HOME SECTION 2 */
.home main > section {
    background-color: #A5B98D;
}

.home main > section h2 {
    text-align: center;
    margin: 1em;
    margin-bottom: 0;
    font-family: 'Alexandria';
    font-weight: normal;
    font-size: 2.5rem;
}

.home main > section:nth-of-type(1) article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5em;
    align-content: center;
    width: 30em;
    height: 30em;
    margin-top: 0;
    margin-left: 30em;
    margin-bottom: 3em;
}
/* HOME SECTION 2 */
/* ABOUT ME SECTION 1 */
.aboutme main > article:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
    margin-top: 1.5em;
    padding: 1em;
    background-color: #A5B98D;
}

.aboutme main article:nth-of-type(1) img:nth-of-type(1) {
    width:  220em;
    height: 100%;
    margin: 2.5em;
}

.aboutme main article:nth-of-type(1) img:nth-of-type(2) {
    width:  200em;
    height: 100%;
    margin: 2.5em;
}

.aboutme article:nth-of-type(1) h2 {
    text-align: center;
    margin: 1em;
    margin-bottom: 0.5em;
    font-family: 'Alexandria';
    font-weight: normal;
    font-size: 2.5rem;
}

.aboutme article:nth-of-type(1) p {
    padding: 0.4em;
    margin-top: 0;
}
/* ABOUT ME SECTION 1 */
/* ABOUT ME SECTION 2 */
.aboutme article:nth-of-type(2) h2 {
    text-align: center;
    margin: 1em;
    margin-bottom: 1.5em;
    font-family: 'Alexandria';
    font-weight: normal;
    font-size: 2.5rem;
}

.aboutme article:nth-of-type(2) section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5em;
    align-content: center;
    margin: 6em;
}

.aboutme article:nth-of-type(2) section h3 {
    font-family: 'Alexandria';
    font-weight: normal;
    font-size: 1.5rem;
}

.aboutme article:nth-of-type(2) section p {
    margin-top: 1em;
}
/* ABOUT ME SECTION 2 */
/* PROJECTS */
.projects h1 {
    text-align: center;
    margin: 1em;
    margin-bottom: 1.5em;
    font-family: 'Alexandria';
    font-weight: normal;
    font-size: 2.5rem;
}

.projects section:nth-of-type(1) h2, section:nth-of-type(2) h2 {
    font-family: 'Alexandria';
    font-weight: normal;
    font-size: 1.5rem;
    margin-left: 12em;
    margin-bottom: 0.5em;
}

.projects main hr {
    width: 50vh;
    height: 0.1rem;
    display: flex;
    margin-left: 18em;
    margin-right: auto;
    color: #2B2122;
}

.projects section:nth-of-type(1) ul, .projects section:nth-of-type(2) ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
    align-content: center;
    width: 80em;
    height: 50em;
    margin: 5em;
    margin-top: 2em;
}

.projects main ul:nth-of-type(1) li, .projects main ul:nth-of-type(2) li {
    position: relative;
    overflow: hidden;
}

.projects main ul:nth-of-type(1) li img, .projects main ul:nth-of-type(2) li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out; 
}

.projects main ul:nth-of-type(1) li:hover img, .projects main ul:nth-of-type(2) li:hover img {
    filter: blur(5px) brightness(0.5);  /*  afbeelding wazig en donkerder */
    transform: scale(1.05); /* voor een lichte zoom-effect bij hover */
}

.projects main ul:nth-of-type(1) li h3, ul:nth-of-type(1) li p, .projects main ul:nth-of-type(2) li h3, ul:nth-of-type(1) li p {
    position: absolute; /* boven op img */
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    margin: 0;
    opacity: 0; /* tekst verborgen */
    transition: opacity 0.3s ease-in-out;
}

.projects main ul:nth-of-type(1) li:hover h3, ul li:hover p, .projects main ul:nth-of-type(2) li:hover h3, ul li:hover p {
    opacity: 1; /* tekst verschijnt */
}

/* 2e p */
.projects main ul:nth-of-type(1) li p:nth-of-type(2), .projects main ul:nth-of-type(2) li p:nth-of-type(2) {
    top: 20em;
    left: 1.5em;
    text-align: start;
    font-size: 0.9rem;
    opacity: 0;
}

.projects main ul:nth-of-type(1) li:hover p:nth-of-type(2), .projects main ul:nth-of-type(2) li:hover p:nth-of-type(2) {
    opacity: 1;
}

.projects main ul:nth-of-type(1) li h3, .projects main ul:nth-of-type(2) li h3 {
    top: 8em;
    left: 8em;
    transform: translate(-50%, -50%); /* gecentreerd */
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Alexandria';
    font-weight: normal;
}

.projects main ul:nth-of-type(1) li p:first-of-type, .projects main ul:nth-of-type(2) li p:first-of-type {
    top: 16em;
    left: 1.5em;
    text-align: start;
    font-size: 1rem;
}
/* PROJECTS */
/* FOOTER */
.home footer, .home footer ul {
    margin: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aboutme footer, .aboutme footer ul, .projects footer, .projects footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #A5B98D;
    padding: 2em;
}

.home footer h2, .aboutme footer h2, .projects footer h2 {
    display: flex;
    align-items: center;
    font-family: 'Alexandria';
    font-weight: normal;
    margin-left: 1em;
}

.home footer img, .aboutme footer img, .projects footer img {
   margin: 2em;  
   margin-right: 3em;
}
/* FOOTER */

/* bronnen
grid bron: https://cssgridgarden.com/
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_grid_layout
flexbox: https://flexboxfroggy.com/
https://developer.mozilla.org/en-US/docs/Web/CSS/z-index
text overlay en hover: https://www.youtube.com/watch?v=hr4JiDr7Aec https://www.youtube.com/watch?v=exb2ab72Xhs&t=352s 
https://developer.mozilla.org/en-US/docs/Web/CSS/filter
https://developer.mozilla.org/en-US/docs/Web/CSS/transition 
https://developer.mozilla.org/en-US/docs/Web/CSS/transform 
https://developer.mozilla.org/en-US/docs/Web/CSS/position 
https://developer.mozilla.org/en-US/docs/Web/CSS/overflow 
 */